<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTO Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.lgp.mapper.OrderMapper">
    <resultMap id="resultMap" type="org.lgp.domain.OrderDTO">
        <id column="id" property="id"/>
        <result column="order_id" property="orderId"/>
        <result column="order_no" property="orderNo"/>
        <result column="order_status" property="orderStatusEnum"/>
        <result column="state_machine_context" property="stateMachineContext"/>
    </resultMap>

    <sql id="all_column">
        id, order_id, order_no, order_status, state_machine_context
    </sql>
    <select id="queryOrderByOrderId" resultMap="resultMap">
        select
        <include refid="all_column"/>
        from t_order where order_id = #{orderId} limit 1
    </select>

    <insert id="insert" parameterType="org.lgp.domain.OrderDTO">
        insert into t_order(order_id, order_no, order_status, state_machine_context)
        value(#{orderId}, #{orderNo}, #{orderStatusEnum}, #{stateMachineContext})
    </insert>
    <update id="update" parameterType="org.lgp.domain.OrderDTO">
        update t_order set order_no=#{orderDTO.orderNo}, order_status=#{orderDTO.orderStatusEnum},
        state_machine_context=#{orderDTO.stateMachineContext} where order_id=#{orderDTO.orderId}
    </update>
</mapper>